In [165]:
# first insatll the selenium library

! pip install Selenium

Requirement already satisfied: Selenium in e:\anaconda\lib\site-packages (4.1.0)
Requirement already satisfied: trio-websocket~=0.9 in e:\anaconda\lib\site-packages (from Selenium) (0.9.2)

In [1]:
import selenium
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
import time
# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

import warnings 

warnings.filterwarnings('ignore')

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [15]:
driver=webdriver.Chrome("chromedriver.exe")
#driver=webdriver.Chrome(r"C:\Users\dell 1\Downloads\chromedriver_win32/chromedriver.exe")

#request to webpage

driver.get("https://www.naukri.com/")


# enter the skills in search bar

search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst")

# enter the location in search bar

search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")


# clicking the search button

search_btn= driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [16]:
#scraping the job-titles

title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

job_title=[]

for i in title_tags:
    title=i.text
    job_title.append(title)

    
#scraping the company names

company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

company_name=[]

for i in company_tags:
    name=i.text
    company_name.append(name)
    
    
#scraping the location names


location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

location=[]

for i in location_tags:
    loc=i.text
    location.append(loc)

#scraping the experience

experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

experience=[]

for i in experience_tags:
    exp=i.text
    experience.append(exp)

In [17]:

# create Dataframe

jobs=pd.DataFrame({"Title":job_title,"Company":company_name,"Experience":experience,"Location":location})
jobs[0:10]

,Title,Company,Experience,Location
0,Assistant/deputy Manager - Geo-spatial Data An...,Maruti Suzuki India,3-5 Yrs,"Gurgaon/Gurugram, bangalore"
1,Senior Data Analyst,Rapido,1-6 Yrs,Bangalore/Bengaluru
2,Senior Data Analyst,SYREN TECHNOLOGIES PRIVATE LIMITED,5-10 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
3,SENIOR ASSOCIATE ENGINEER - SCM - DATA ANALYST,Collins Aerospace,9-12 Yrs,Bangalore/Bengaluru
4,Senior Data Analyst,Flipkart,4-5 Yrs,Bengaluru/Bangalore
5,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,3-8 Yrs,Bangalore/Bengaluru
6,Data Analyst / Engineer,Animaker India Private Limited,4-9 Yrs,"Chennai, Bangalore/Bengaluru"
7,Data Analyst (On Contract),Rupeek Fintech Pvt Ltd,0-2 Yrs,Bangalore/Bengaluru
8,Senior Data Analyst,Flipkart,3-7 Yrs,Bangalore/Bengaluru
9,Senior Data Analyst for HANA Platform,Intel,5-10 Yrs,Bangalore/Bengaluru

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [51]:
driver=webdriver.Chrome("chromedriver.exe")

#request to webpage
url="https://www.naukri.com/"
driver.get(url)

#driver.close()

# enter the skills in search bar
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

# enter the location in search bar
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

# clicking the search button
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']")
search_btn.click()

In [55]:
#scraping the job-titles

job_title=[] #Create emptylist
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job=i.text
    job_title.append(job)

#scraping the Location

job_loc=[]
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in loc_tags:
    loc=i.text
    job_loc.append(loc)

#scraping the companyname
company_name=[]
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    company=i.text
    company_name.append(company)

In [57]:
# Create DataFrame
job= pd.DataFrame({"Title":job_title,"Location":job_loc,"Company":company_name})
job[:10]

,Title,Location,Company
0,Senior Data Scientist,Bangalore/Bengaluru,Visa
1,Sr. Associate Consultant Data Scientist,Bangalore/Bengaluru,Eli Lilly and Company
2,Data Scientist: Advanced Analytics,Bengaluru/Bangalore,IBM India Pvt. Limited
3,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited
4,Cognitive Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited
5,Senior Engineer - AIML - Data Scientist,Bangalore/Bengaluru,Unisys
6,Senior data scientist,Bangalore/Bengaluru,Compile Inc
7,Cognitive/AI Senior Data Scientist,Bengaluru/Bangalore,IBM India Pvt. Limited
8,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru\n(WFH during Covid),Samya.AI A FRACTAL Entity
9,Data Scientist,"Mumbai, Bangalore/Bengaluru",Tata Unistore

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
        
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [13]:
driver=webdriver.Chrome("chromedriver.exe")

#request to webpage
url="https://www.naukri.com/"
driver.get(url)

#driver.close()

# enter the skills in search bar
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

# clicking the search button
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']")
search_btn.click()


#the location filter and salary filter by checking the respective boxes
salary=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
salary.click()

location= driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/i")
location.click()

In [18]:
#scraping the job-titles

job_title=[] #Create emptylist
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job=i.text
    job_title.append(job)

#scraping the Location

job_loc=[]
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in loc_tags:
    loc=i.text
    job_loc.append(loc)

#scraping the companyname
company_name=[]
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    company=i.text
    company_name.append(company)
    
#Scraping the experience
experience=[]
experience_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tag:
    exp=i.text
    experience.append(exp)

In [20]:
# Create DataFrame
job= pd.DataFrame({"Title":job_title,"Location":job_loc,"Company":company_name,"Experience":experience})
job[:10]

,Title,Location,Company,Experience
0,Data Scientist,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",LG Electronics India Pvt. Ltd.,0-2 Yrs
1,Data Scientist,"Noida, Nodia\n(WFH during Covid)",Navikenz India Pvt Ltd,2-7 Yrs
2,Hiring For Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Tata Consultancy Services Ltd.,4-9 Yrs
3,Project Manager | Team Leader | Senior Data Sc...,Remote,Tidyquant (OPC) Private Limited,1-5 Yrs
4,Data Scientist,"Gurgaon/Gurugram, Chennai",Teleperformance,4-9 Yrs
5,"NTT DATA_ Hiring For BIG DATA ,DATA Scientist,...","Noida, Kolkata, Hyderabad/Secunderabad, Ahmeda...",NTT Data Business Solutions Pvt Ltd,3-8 Yrs
6,Hiring For Data Analyst / Data Scientist,Noida(Sector-59 Noida),Careerera,1-3 Yrs
7,Data Scientist,Gurgaon/Gurugram,Whizhack Technologies pvt ltd,2-5 Yrs
8,Data Scientist,Gurgaon/Gurugram,One Mobikwik Systems Private Limited,2-5 Yrs
9,Data Scientist/ Senior Data Scientist,Noida,Newgen Software Technologies,2-5 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
ASSIGNMENT 2
4. After scraping data from the first page, go to the “Next” Button at the bottom of the page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses

In [2]:
driver=webdriver.Chrome("chromedriver.exe")

url="https://www.flipkart.com/"
driver.get(url)

search=driver.find_element_by_xpath("//input[@class='_3704LK']")
search.send_keys("sunglasses")

In [3]:
# clicking the search button
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [4]:
search=[]
search1=driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
search2=driver.find_elements_by_xpath("//a[@class='ge-49M']")
for i in search1:
    search.append(i.get_attribute('href'))
for i in search2:
    search.append(i.get_attribute('href'))
x=search[0:3]

Brand=[] #Create emptylist
product_des=[] #Create emptylist
price=[] #Create emptylist
discount=[] #Create emptylist

for page in x:
    driver.get(page)
    
    Brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in Brand_tags:
        Brand1=i.text
        Brand.append(Brand1)
    
    des_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC']")
    for i in Brand_tags:
        des=i.text
        product_des.append(des)
 
    price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price_tags:
        pri=i.text
        price.append(pri)
    discount_tags=driver.find_elements_by_xpath("//div[@class='_3I9_wc']")
    for i in discount_tags:
        dis=i.text
        discount.append(dis)
    
    #search=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav")
    #search.click() 
    
print(len(Brand),len(price),len(discount),len(product_des))

120 120 120 120

In [5]:
# Create DataFrame
job= pd.DataFrame({"Brand":Brand,"Product Description":product_des,"Price":price,"Dicount":discount})
job[0:100]

            Brand Product Description Price Dicount
0   VINCENT CHASE       VINCENT CHASE  ₹999  ₹1,999
1      PHENOMENAL          PHENOMENAL  ₹299  ₹1,999
2            SRPM                SRPM  ₹188  ₹1,299
3       Elligator           Elligator  ₹248  ₹2,495
4          PIRASO              PIRASO  ₹187  ₹1,599
..            ...                 ...   ...     ...
95      ROYAL SON           ROYAL SON  ₹664  ₹1,999
96         GANSTA              GANSTA  ₹269  ₹1,999
97           hipe                hipe  ₹189  ₹1,298
98      ROYAL SON           ROYAL SON  ₹664  ₹1,999
99      ROYAL SON           ROYAL SON  ₹759  ₹1,999

[100 rows x 4 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/
p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review_summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [121]:
driver=webdriver.Chrome("chromedriver.exe")

In [122]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
driver.get(url)

In [123]:
btn=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a")
btn.click()

In [129]:
next_button=[]
rating=[]
review_summary=[]
full_review=[]

button_tags=driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
button_tags1=driver.find_elements_by_xpath("//a[@class='ge-49M']")

for i in button_tags:
    next_button.append(i.get_attribute('href'))   
for i in button_tags1:
    next_button.append(i.get_attribute('href'))
    
for page in next_button[0:10]:
    driver.get(page)
    rating_tags=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")
    for i in rating_tags:
        rating.append(i.text)
    
    review_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in review_tag:
        review_summary.append(i.text)

    fullrew_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in fullrew_tag:
        full_review.append(i.text)

In [130]:
# Create DataFrame
job= pd.DataFrame({"Rating":rating,"Review_Summary":review_summary,"Full_Review":full_review})
job

,Rating,Review_Summary,Full_Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
96,5,Awesome,The phone is completely good\nAs far as camera...
97,3,Decent product,Everything u ll like it when u use this iPhone...
98,5,Awesome,Can’t beat the software and hardware integrati...
99,3,Does the job,phone is good but in display is 720p lcd in th...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [210]:
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.flipkart.com/"
driver.get(url)

In [211]:
btn=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
btn.click()

In [212]:
# enter the skills in search bar
search_job=driver.find_element_by_xpath("//input[@class='_3704LK']")
search_job.send_keys("sneakers")

# clicking the search button
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [214]:
# scrape the requird data
brand=[]
product_description=[]
price=[]
discount=[]
Btn=[]
btn1=driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
btn2=driver.find_elements_by_xpath("//a[@class='ge-49M']")
for i in btn1:
    Btn.append(i.get_attribute('href'))
for i in btn2:
    Btn.append(i.get_attribute('href'))

for page in Btn:
    driver.get(page)
    
    brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand_tags:
        brand.append(i.text)
    
    product_tags=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
    for i in product_tags:
        product_description.append(i.text)   
     
    price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price_tags:
        price.append(i.text) 
    
print(len(brand),len(product_description),len(price))

400 400 400

In [215]:
# Create DataFrame
Sneakers= pd.DataFrame({"Brand":brand,"Product_Description":product_description,"Price":price})
Sneakers

        Brand                                Product_Description   Price
0       Echor  Men's Canvas Low Top Sneakers Lace-up Classic ...    ₹449
1       BIRDE  Casual Shoes For Men Combo Pack Of 2 Sneakers ...    ₹535
2      BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men    ₹299
3    URBANBOX                          Sneakers Sneakers For Men    ₹247
4       BIRDE              Sports Running Shoes Sneakers For Men    ₹299
..        ...                                                ...     ...
395     BIRDE      Combo Pack of 2 Casual Shoes Sneakers For Men    ₹423
396  RED TAPE                                   Sneakers For Men  ₹1,149
397     SPARX                            SM-496 Sneakers For Men    ₹849
398     BIRDE      Combo Pack of 2 Casual Shoes Sneakers For Men    ₹423
399      PUMA                Puma Smash v2 Buck Sneakers For Men  ₹1,749

[400 rows x 3 columns]

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [253]:
driver=webdriver.Chrome("chromedriver.exe")
url="https://www.myntra.com/shoes"
driver.get(url)

In [255]:
price=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price.click()

In [254]:
color=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color.click()

In [278]:
# scrape the required data
brand=[]
description=[]
price=[]
next=[]

next_tag=driver.find_elements_by_xpath("//li[@class='pagination-active']/a[1]")
next_tag1=driver.find_elements_by_xpath("//li[@class='pagination-number']/a[1]")

for i in next_tag:
    next.append(i.get_attribute('href'))
for i in next_tag1:
    next.append(i.get_attribute('href'))

for page in next[0:2]:
    driver.get(page)
    
    brand_tag=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in brand_tag:
        brand.append(i.text)

    description_tag=driver.find_elements_by_xpath("//h4[@class='product-product']")
    for i in description_tag:
        description.append(i.text)
        
    price_tag=driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
    for i in price_tag:
        price.append(i.text)
len(price)

100

In [279]:
Shoe= pd.DataFrame({"Brand":brand,"Product_Description":description,"Price":price})
Shoe

,Brand,Product_Description,Price
0,J.FONTINI,Men Solid Leather Formal Derbys,Rs. 6990
1,Saint G,Woman Black Leather Boots,Rs. 11250Rs. 12500
2,UNDER ARMOUR,Women Charged Impulse Shft,Rs. 7499
3,Saint G,Leather Boots with Buckles,Rs. 8500Rs. 10500
4,Columbia,PEAKFREAK OUTDRY Trekking Shoe,Rs. 9999
...,...,...,...
95,Heel & Buckle London,Men Solid Leather Formal Penny Loafers,Rs. 7693Rs. 10990
96,Hush Puppies,Men Leather Formal Derbys,Rs. 6299Rs. 6999
97,Ruosh,Men Leather Slip-On Shoes,Rs. 6990
98,J.FONTINI,Men Leather Formal Loafers,Rs. 6990
99,J.FONTINI,Men Solid Leather Formal Derbys,Rs. 6990

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [400]:
driver=webdriver.Chrome("chromedriver.exe")

In [401]:
url="https://www.amazon.in/"
driver.get(url)

In [402]:
search= driver.find_element_by_id("twotabsearchtextbox")
search.send_keys("Laptop")

In [403]:
click1=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
click1.click()

In [405]:
corei7=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[12]/span/a/span")
corei7.click()

In [406]:
titile=[]
price=[]
#scrape Title

title_tags=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in title_tags[0:10]:
    titile.append(i.text)

# scrape Price
price_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in price_tags[0:10]:
    price.append(i.text)

In [407]:
# scrape rating
rating=[]
rating1=[]
rating_tags=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
for i in rating_tags:
    rating.append(i.get_attribute('href'))

for i in rating[0:10]:
    driver.get(i)
    
    rating1_tags=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base']")
    for i in rating1_tags:
        rating1.append(i.text)

In [408]:
#crate Dataframe
laptop= pd.DataFrame({"Title":titile,"Rating":rating1,"Price":price})
laptop

                                               Title        Rating   Price
0  LG Gram 16 Ultra-Light Intel Evo 11th Gen Core...  4.2 out of 5  94,499
1  Lenovo ThinkBook Yoga 14s Intel Core i7 11th G...  3.6 out of 5  89,990
2  Mi Notebook Horizon Edition 14 Intel Core i7-1...  4.4 out of 5  54,498
3  Mi Notebook Horizon Edition 14 Intel Core i7-1...  4.2 out of 5  52,999
4  Mi Notebook Pro QHD+ IPS Anti Glare Display In...  4.3 out of 5  73,999
5  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....  4.3 out of 5  85,990
6  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...  4.3 out of 5  84,990
7  Mi Notebook Ultra 3.2K resolution display Inte...  4.3 out of 5  77,999
8  HP Pavilion Gaming(2021) 10th Gen Intel Core i...    4 out of 5  88,999
9  Lenovo IdeaPad Gaming 3 11th Gen Intel Core i7...  4.9 out of 5  82,990

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [202]:
driver=webdriver.Chrome("chromedriver.exe")

url="https://www.ambitionbox.com/"
driver.get(url)

#click on Job
job=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
job.click()

#Enter the job Title
search_title=driver.find_element_by_xpath("//input[@class='input tt-input']")
search_title.send_keys("Data Scientist")

#click on search Button
search_btn=driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")
search_btn.click()

In [203]:
#click on the location
search_loc=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
search_loc.click()

In [204]:
# enter the location name
search_loc1=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_loc1.send_keys("Noida")

In [205]:
# click on the location
search_noida=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
search_noida.click()

In [209]:
#scrape Company Name
company=[]
company_tags=driver.find_elements_by_xpath("//p[@class='company body-medium']")
for i in company_tags:
    company.append(i.text)

#scrape post dayago
dayago=[]
dayago_tags=driver.find_elements_by_xpath("//div[@class='other-info']/Span[1]")
for i in dayago_tags:
    dayago.append(i.text)

#Scrape Rating
rating=[]
rating_tags=driver.find_elements_by_xpath("//div[@class='rating-wrapper']/a[1]")
for i in rating_tags[1:11]:
    rating.append(i.text)

In [212]:
#create DataFrame
job= pd.DataFrame({"Company":company,"Dayago":dayago,"Rating":rating})
job

                               Company    Dayago Rating
0       LG Electronics India Pvt. Ltd.   10d ago    4.1
1        GENPACT India Private Limited   16d ago    4.0
2        GENPACT India Private Limited   16d ago    4.0
3  NTT Data Business Solutions Pvt Ltd   18d ago    3.8
4        GENPACT India Private Limited   18d ago    4.0
5                                Paytm    3d ago    3.7
6                             GI Group    3d ago    4.0
7                             GI Group    3d ago    4.0
8                             GI Group    3d ago    4.0
9                     Steria India Ltd  1mon ago    4.1

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [91]:
driver=webdriver.Chrome("chromedriver.exe")

url="https://www.ambitionbox.com/"
driver.get(url)

#click on Salary
salary=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]").click()

#enter job Title
job_search=driver.find_element_by_id("jobProfileSearchbox")
job_search.send_keys("Data Scientist")

In [103]:
job_click=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]")
job_click.click()

In [184]:
#company Title
title=[]
title1=driver.find_elements_by_xpath("//div[@class='name']/a[1]")
for i in title1:
    title.append(i.text)

#Number of salary
nosalary=[]
nosalary_tags=driver.find_elements_by_xpath("//div[@class='name']/span[1]")
for i in nosalary_tags:
    nosalary.append(i.text)

#Experince Level
exp=[]
exp_tags=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
for i in exp_tags:
    exp.append(i.text.split('.')[1].replace("\n",""))

#min of Salary    
minsalary=[]
minsalary_tags=driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")
for i in minsalary_tags:
    minsalary.append(i.text)

#max of Salary
maxsalary=[]
maxsalary_tags=driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")
for i in maxsalary_tags:
    maxsalary.append(i.text)

#average of Salary
avgsalary=[]
avgsalary_tags=driver.find_elements_by_xpath("//p[@class='averageCtc']")
for i in avgsalary_tags:
    avgsalary.append(i.text)

In [185]:
# Create DataFrame

DS= pd.DataFrame({"Title":title,"NoSalary":nosalary,"Experience":exp,"Minmum_Salary":minsalary,"Maxmium_Salary":maxsalary,"Average_Salary":avgsalary})
DS

,Title,NoSalary,Experience,Minmum_Salary,Maxmium_Salary,Average_Salary
0,Ab Inbev,based on 20 salaries,3-4 yrs exp,₹ 15.0L,₹ 23.0L,₹ 19.0L
1,ZS,based on 12 salaries,2 yrs exp,₹ 9.8L,₹ 19.5L,₹ 15.3L
2,Optum,based on 23 salaries,3-4 yrs exp,₹ 11.0L,₹ 21.3L,₹ 15.0L
3,Fractal Analytics,based on 66 salaries,2-4 yrs exp,₹ 9.5L,₹ 22.0L,₹ 15.0L
4,UnitedHealth,based on 47 salaries,2-4 yrs exp,₹ 7.2L,₹ 20.5L,₹ 13.5L
5,Tiger Analytics,based on 26 salaries,3-4 yrs exp,₹ 8.3L,₹ 18.5L,₹ 13.5L
6,Verizon,based on 14 salaries,4 yrs exp,₹ 10.0L,₹ 21.0L,₹ 12.7L
7,Ganit Business Solutions,based on 13 salaries,4 yrs exp,₹ 8.5L,₹ 15.0L,₹ 12.4L
8,Ericsson,based on 42 salaries,3-4 yrs exp,₹ 5.2L,₹ 21.5L,₹ 11.7L
9,Deloitte,based on 49 salaries,2-4 yrs exp,₹ 6.8L,₹ 20.5L,₹ 11.2L